<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title GJ| SPA
        link(rel="stylesheet", href="/css/styles.css")
        
    body
        header.heder heder

        main.main 
            section.main__area1 SECTION1
            section.main__area2 SECTION2
            section.main__area3 SECTION3

        footer.footer footer